{%- assign header = site.data.global.header -%}
{%- assign footer = site.data.global.footer -%}
<footer class="footer text-center">
  <div class="container">
    <div class="footer__section">
      <a class="block footer__logo" href="/" title="Homepage{{ site.title | prepend: ' | ' }}">
        {% include logo.html class="footer__logo-image" type="circle" %}
      </a>
    </div>
    <div class="footer__section sm-hide">
      <ul class="footer__nav">
        {%- for link in header.navigation -%}
          <li class="footer__nav-item">
            <a class="button button--subtle footer__nav-item-link" href="{{ link.link | absolute_url }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="footer__section">
      <ul class="footer__nav">
        {%- for link in footer.contact -%}
          <li class="footer__nav-item">
            <a class="button button--subtle footer__nav-item-link" href="{{ link.link }}">{%- if link.icon != blank -%}<i class="fa-sharp fa-solid fa-{{ link.icon }}"></i>{%- endif -%}{{ link.text }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <p class="sm copyright">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</a></p>
  </div>
</footer>