<header class="header" role="banner">
  <div class="grid-middle">

    <div class="col-3_xs-12">
      <a class="header__logo" href="/">
        <img src="{{ "/assets/images/logo-stacked.svg" | relative_url }}" />
      </a>
    </div>

    <div class="col-9_xs-12">
      <nav class="header__nav" role="navigation">
        <div class="header__nav-item">
          <a class="header__nav-link" href="#Work">Portfolio</a>
        </div>
        <div class="header__nav-item">
          <a class="header__nav-link" href="#About">About</a>
        </div>
        <div class="header__nav-item">
          <a class="header__nav-link" href="#Contact">Contact</a>
        </div>
      </nav>
    </div>

  </div>
</header>