{%- assign header = site.data.global.header -%}
<header class="header" role="banner">
  <div class="container">
    <div class="grid-spaceBetween-middle">
      <div class="col-hug">
        <a class="block header__logo" href="/" title="Homepage{{ site.title | prepend: ' | ' }}">
          <img class="block header__logo-image" class="block" src="/assets/images/logo.svg" alt="Oak Island Designs Logo"/>
        </a>
      </div>
      <div class="col-hug">
        <div class="buttons">
          <nav>
            <ul class="unlist header__nav">
              {%- for link in header.navigation -%}
                <li class="header__nav-item">
                  <a class="button button--subtle header__nav-item-link" href="{{ link.link }}" title="{{ link.title }}{{ site.title | prepend: ' | ' }}">{{ link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="button button--subtle button--icon mobile-button sm-show">
            <i class="far fa-{{ header.mobile_button.icon }}"></i>
          </div>
          <a class="button sm-hide" href="{{ header.button.link }}" title="{{ header.button.title }}{{ site.title | prepend: ' | ' }}">
            {%- if header.button.icon != blank -%}<i class="fas fa-{{ header.button.icon }}"></i>{%- endif -%}{{ header.button.title }}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>