<div class="content-section__profile">
  <div class="content-section__profile-avatar">
    <img class="content-section__profile-avatar-image" src="{{ site.data.global.profile.image.url }}" width="{{ site.data.global.profile.image.width }}" height="{{ site.data.global.profile.image.height }}" alt="{{ site.data.global.profile.name }}" />
  </div>
  <div class="content-section__profile-words">
    <div class="content-section__profile-words-top">
      <h4 class="h3 content-section__profile-words-heading">{{ site.data.global.profile.name }}</h4>
      <p class="content-section__profile-words-subtitle">{{ site.data.global.profile.title }}</p>
    </div>
    {{ site.data.global.profile.description | markdownify }}
  </div>
</div>