<header class="header" role="banner">
  <h1 class="header__logo sm-hide"><img class="header__logo-img" src="{{ "/assets/images/logo.svg" | relative_url }}" /></h1>
  <h1 class="header__logo-mobile sm-show"><img class="header__logo-img" src="{{ "/assets/images/logo-mobile.svg" | relative_url }}" /></h1>
  <nav class="header__nav">
    <a class="header__nav-link" href="#home">Home</a>
    <a class="header__nav-link" href="#work">Our Work</a>
    <a class="header__nav-link" href="#about">About</a>
    <a class="header__nav-link" href="#contact">Contact</a>
  </nav>
</header>