---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "grid";
@import "normalize";

/* Variables
=================================*/
$colorAccentLight: #ccc;
$colorAccent: #32BDB4;
$colorAccentDark: #000;

$colorDefault: #FAFECE;
$colorDark: #28232F;
$colorLightest: #F8F8F8;

$gutterXs: 5px;
$gutterSm: 10px;
$gutterMd: 15px;
$gutterDef: 20px;
$gutterLg: 25px;
$gutterXlg: 30px;

$screenXs: 480px;
$screenSm: 768px;
$screenMd: 1024px;
$screenLg: 1280px;
$screenXlg: 1440px;

$fontSizeH6: 1.6;
$fontSizeH5: 2.0;
$fontSizeH4: 2.4;
$fontSizeH3: 2.8;
$fontSizeH2: 3.2;
$fontSizeH1: 3.6;

/* Mixins
=================================*/
/* Used to set font sizes in REMs
with a Pixel fallback Usage:
@include font-size(13) */
@mixin fontAndHeight($size:1.6, $line: $size * 1.25){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}
@mixin fontSize($size:1.6){
  font-size:   ($size * 10) + px;
  font-size:   $size + rem;
}
@mixin lineHeight($line: 1.6){
  line-height: ($line * 10) + px;
  line-height: $line + rem;
}

/* Default
=================================*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', sans-serif;
  @include fontAndHeight($fontSizeH6);
  color: $colorDefault;
  background-image: url('{{ "/assets/images/background.png" | relative_url }}');
  border-top: 5px solid $colorAccent;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  height: 100vh;
  overflow-y: scroll;
}
h1, .h1 {@include fontAndHeight($fontSizeH1);}
h2, .h2 {@include fontAndHeight($fontSizeH2);}
h3, .h3 {@include fontAndHeight($fontSizeH3);}
h4, .h4 {@include fontAndHeight($fontSizeH4);}
h5, .h5 {@include fontAndHeight($fontSizeH5);}
h6, .h6 {@include fontAndHeight($fontSizeH6);}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
p {
  @include fontSize(1.6);
  @include lineHeight(2.6);
  margin-bottom: $gutterMd;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: 700;
}

/* Global
=================================*/
.button {
  display: inline-block;
  padding: 5px 15px;
  @include fontSize($fontSizeH6);
  @include lineHeight(2);
  font-weight: 700;
  text-transform: uppercase;
  color: $colorDark;
  background-color: $colorDefault;
  border: 3px solid $colorDefault;
  border-radius: 50px;
  &:hover {
    text-decoration: none;
    background-color: $colorAccent;
    border-color: $colorAccent;
  }
  &.button--outline {
    color: $colorDefault;
    background-color: transparent;
    &:hover {
      color: $colorAccent;
      background-color: transparent;
    }
  }
  &.button--full {
    display: block;
    width: 100%;
  }
}
.un-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
.padding {
  padding-bottom: $gutterDef;
}

/* Sidebar
=================================*/
.header {
  position: sticky;
  top: -1px;
  margin-top: -1px;
}
.header__logo {
  margin: 0;
  margin-bottom: 40px;
}
.header__logo-img {
  width: 100%;
}
.header__nav-link {
  display: block;
  margin-bottom: $gutterDef;
  @include fontAndHeight($fontSizeH6);
  font-weight: 700;
  text-transform: uppercase;
  color: $colorAccent;
  &:hover {
    text-decoration: none;
    text-shadow: 0 0 15px #22FFCE;
  }
}

/* Home
=================================*/
.home__section {
  margin-bottom: 300px;
}
.home__banner-inner {
  margin-top: calc(275px + 30px);
}
.home__title {
  margin-top: 0;
  @include fontAndHeight(4.2);
  text-transform: lowercase;
  color: $colorAccent;
}
.home__text {
  margin-bottom: $gutterDef;
  @include fontSize(1.6);
  @include lineHeight(2.6);
}
.home__banner-buttons {
  .button {
    margin-right: $gutterDef;
  }
}

.project {
  margin-bottom: 30px;
}
.project__top {
  padding: 10px;
  background-color: $colorAccent;
}
.project__title {
  margin: 0;
  @include fontSize(1.8);
  @include lineHeight(1.5);
  font-weight: 900;
  text-transform: uppercase;
  color: $colorDark;
}
.project__label {
  margin: 0;
  @include fontSize(0.8);
  @include lineHeight(0.8);
  font-weight: 900;
  text-transform: uppercase;
  color: $colorDark;
}
.project__services {
  margin: 0;
  @include fontSize(1.4);
  @include lineHeight(1.4);
  font-weight: 900;
  text-transform: uppercase;
  color: $colorDark;
}
.project__link {
  @include fontSize(1.6);
  @include lineHeight(1.6);
  color: $colorDark;
  &:hover {
    color: $colorDefault;
  }
}
.project__content {
  padding: 50px 40px;
  background: $colorLightest;
}
.home__banner-logo {
  max-height: 230px;
  margin: 0 auto;
  padding: 30px;
}
.home__banner-site {
  padding: 30px;
}
/* Mobile
=================================*/
.header__logo-mobile {
  max-width: 200px;
  margin: 0;
}

/* Footer
=================================*/
.copyright {
  @include fontAndHeight(1.2);
}

/* Responsive
=================================*/
@media only screen and (max-width: $screenLg) {

}
@media only screen and (max-width: $screenMd) {

}
@media only screen and (max-width: $screenSm) {
  .header {
    padding-top: 40px;
  }
  .header__nav {
    margin-top: 40px;
  }
  .header__nav-link {
    padding: 5px 0;
  }
  .home__banner-buttons {
    .button {
      margin-bottom: $gutterDef;
    }
  }
  .project__title {
    margin-bottom: 10px;
    br {
      display: none;
    }
  }
  .project__content {
    padding: 20px 10px 0 10px;
  }
}
@media only screen and (max-width: $screenXs) {
  #contact {
    .button {
      font-size: 13px;
    }
  }
}