---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "grid";
@import "normalize";
@import "magnific-popup";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Montserrat:wght@700&display=swap');

/* Variables
=================================*/
$colorAccentLight: #ccc;
$colorAccent: #12BAB2;
$colorAccentDark: #000;

$colorDefault: #E8E8E8;
$colorDark: #3D2D68;
$colorLightest: #F8F8F8;

$gutterXs: 15px;
$gutterSm: 20px;
$gutterMd: 25px;
$gutterDef: 30px;
$gutterLg: 35px;
$gutterXlg: 40px;

$screenXs: 480px;
$screenSm: 768px;
$screenMd: 1024px;
$screenLg: 1280px;
$screenXlg: 1440px;

$fontSizeH6: 1.6;
$fontSizeH5: 2.0;
$fontSizeH4: 2.4;
$fontSizeH3: 2.8;
$fontSizeH2: 3.2;
$fontSizeH1: 3.6;

/* Mixins
=================================*/
/* Used to set font sizes in REMs
with a Pixel fallback Usage:
@include font-size(13) */
@mixin fontAndHeight($size:1.6, $line: $size * 1.25){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}
@mixin fontSize($size:1.6){
  font-size:   ($size * 10) + px;
  font-size:   $size + rem;
}
@mixin lineHeight($line: 1.6){
  line-height: ($line * 10) + px;
  line-height: $line + rem;
}

/* Default
=================================*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Karla', sans-serif;
  @include fontAndHeight($fontSizeH6);
  color: $colorDefault;
  background-color: $colorDark;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  height: 100vh;
  overflow-y: scroll;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Montserrat', sans-serif;
}
h1, .h1 {@include fontAndHeight($fontSizeH1);}
h2, .h2 {@include fontAndHeight($fontSizeH2);}
h3, .h3 {@include fontAndHeight($fontSizeH3);}
h4, .h4 {@include fontAndHeight($fontSizeH4);}
h5, .h5 {@include fontAndHeight($fontSizeH5);}
h6, .h6 {@include fontAndHeight($fontSizeH6);}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
p {
  @include fontSize(1.6);
  @include lineHeight(2.6);
  margin-bottom: $gutterMd;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: 700;
}

/* Global
=================================*/
.button {
  display: block;
  @include fontSize(1.4);
  @include lineHeight(1.4);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px $colorDefault;
  color: $colorDefault;
  transition: all .2s ease-in-out;
  
  &:hover {
    text-decoration: none;
    text-shadow: 0 0 10px $colorAccent;
    color: $colorAccent;
  }
}
.un-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
.padding {
  padding-bottom: $gutterDef;

  @media only screen and (max-width: $screenSm) {
    padding-bottom: $gutterSm;
  }
}
.max-600 {
  max-width: 600px;
}

/* Header
=================================*/
.header {
  margin-bottom: 100px;
  padding-top: 20px;
  border-top: 5px solid $colorAccent;
}
.header__logo {
  display: block;
  width: 100px;
  margin: 0;
}
.header__nav-wrapper {
  @media only screen and (max-width: $screenSm) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: $colorDark;
  }
}
.header__nav {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: $screenSm) {
    display: block;
    height: calc(100vh - 74px);
  }
}
.header__nav-item {
  flex: 0 1 auto;
  margin-left: 20px;

  @media only screen and (max-width: $screenSm) {
    flex: none;
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 20px 0;
    text-align: center;
  }
}
.header__nav-link {
  @include fontSize(1.4);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $colorDefault;
  transition: all .2s ease-in-out;
  
  &:hover {
    text-decoration: none;
    text-shadow: 0 0 10px $colorAccent;
    color: $colorAccent;
  }
  @media only screen and (max-width: $screenSm) {
    @include fontSize(2.4);
    letter-spacing: 3px;
  }
}
.header__nav-mobile-header {
  padding: 20px;
  border-top: 5px solid $colorAccent;
}
.header__mobile-button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  cursor: pointer;
}
.header__mobile-button-text {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding-right: 10px;
  @include fontSize(1.4);
  @include lineHeight(1.5);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $colorDefault;
  border-right: 1px solid rgba(255,255,255,0.2);
}
.header__mobile-button-icon {
  display: inline-block;
  vertical-align: top;
  height: 15px;
}
.header__mobile-button-close-wrapper {
  position: absolute;
  top: $gutterSm;
  right: $gutterSm;
  z-index: 15;
}
.header__mobile-button-close {
  cursor: pointer;
}

/* Home
=================================*/
.home__section {
  padding-top: $gutterSm;
  margin-bottom: 180px;

  @media only screen and (max-width: $screenSm) {
    padding-top: $gutterSm;
    margin-bottom: 80px;
  }
}
.home__section-title {
  margin: 0 0 $gutterDef 0;
  @include fontSize(3.6);
  @include lineHeight(2.6);
  color: $colorAccent;

  @media only screen and (max-width: $screenSm) {
    margin-bottom: $gutterSm;
    @include fontSize(3.2);
  }
}
.home__section-text {
  p {
    margin-top: 0;
    margin-bottom: $gutterSm;
    @include fontSize(1.8);
    @include lineHeight(2.4);
  }
  &.home__section-text--small {
    p {
      @include fontSize(1.4);
      @include lineHeight(1.8);
    }
  }
}

/* Home - Banner
=================================*/
.home__banner-title {
  margin: 0 0 $gutterSm 0;
  @include fontSize(4.8);
  @include lineHeight(4.8);
  color: $colorAccent;

  @media only screen and (max-width: $screenSm) {
    @include fontSize(3.2);
    @include lineHeight(3.2);
  }
}
.home__banner-text {
  margin-top: 0;
  margin-bottom: $gutterSm;
  @include fontSize(1.8);
  @include lineHeight(2.4);
}

/* Home - Our Work
=================================*/
.home__work-box {
  position: relative;
  display: block;
  background-color: $colorDefault;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    bottom: 0%;
    z-index: 2;
    display: block;
    height: 10%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
  }
  &.home__work-box--large {
    padding-bottom: 108.4388%;

    &.home__work-box--imac {
      &:before {
        left: 25%;
        width: 100%;
        height: 10%;
        filter: blur(20px);

        @media only screen and (max-width: $screenSm) {
          left: 50%;
          width: 40%;
          filter: blur(15px);
          transform: translate(-50%, 0);
        }
      }
      .home__work-box-item {
        left: 20%;
        width: 110%;
        transform: translate(0, -50%);

        @media only screen and (max-width: $screenSm) {
          left: 50%;
          width: auto;
          max-height: 80%;
          transform: translate(-50%, -50%);
        }
      }
    }
    @media only screen and (max-width: $screenSm) {
      padding-bottom: 225px;
    }
  }
  &.home__work-box--small {
    margin-bottom: $gutterDef;
    padding-bottom: 51%;

    @media only screen and (max-width: $screenSm) {
      margin-bottom: $gutterSm;
      padding-bottom: 225px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &.home__work-box--imac {
      &:before {
        left: 50%;
        width: 40%;
        filter: blur(15px);
        transform: translate(-50%, 0);
      }
      .home__work-box-item {
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: $screenSm) {
          width: auto;
          max-height: 80%;
        }
      }
    }
  }
  &.home__work-box--imac {
    .home__work-box-item {
      top: 50%;
      max-width: none;
    }
  }
  &.home__work-box--logo {
    .home__work-box-item {
      top: 50%;
      left: 50%;
      max-width: 70%;
      max-height: 70%;
      transform: translate(-50%, -50%);

      @media only screen and (max-width: $screenSm) {
        max-width: 60%;
      }
      @media only screen and (max-width: $screenXs) {
        max-width: 80%;
      }
    }
  }
}
.home__work-box-item {
  position: absolute;
  z-index: 3;
}

/* Home - Work Modal
=================================*/
.work-modal {
  &:before {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1200;
    width: auto;
    padding: 5px 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: $colorAccent;
    box-sizing: border-box;
  }
  &.work-modal--mockup {
    &:before {
      content: 'Website Design';
    }
    .mfp-content {
      width: 100%;
      height: 100vh;
    }
    .mfp-figure {
      height: 100%;
      figure {
        height: 100%;
        overflow: scroll;
      }
    }
    .mfp-img {
      max-width: 100%;
      max-height: none!important;
      padding: 50px 20px 20px 20px;

      @media only screen and (max-width: $screenSm) {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        padding: 50px 0 20px;
        transform: translate(0, -50%);
      }
    }
  }
  &.work-modal--logo {
    &:before {
      content: 'Logo Design';
    }
    .mfp-content {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
    }
    .mfp-figure {
      width: 100%;
      height: 100%;

      figure {
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: none;
      }
    }
    .mfp-img {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 100%;
      max-width: 70%;
      height: 100%;
      max-height: 70%!important;
      padding: 0;
      transform: translate(-50%, -50%);
    }
  }
  .mfp-container {
    padding: 0;
  }
  .mfp-close {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 30px;
    text-align: center;
    line-height: 29px;
    color: #fff;
    background-color: $colorAccent;
    border-radius: 30px;
    opacity: 1;
  }
  .mfp-figure {
    figure {
      background-color: #fff;
    }
  }
}

/* Footer
=================================*/
.copyright {
  @include fontAndHeight(1.2);
}