---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "reset";
@import "grid";
@import "fonts";

/* Variables
=================================*/
:root {
  --doc-height: 100%;

  --color-accent: #00BAB3;
  --color-secondary: #3D2D68;
  --color-secondary-dark: #312554;
  --color-lightest: #fff;
  --color-grey: #F5F5F5;
  --color-text: var(--color-secondary);

  --font-family-main: 'Biennale';
  --font-weight-normal: normal;
  --font-weight-semibold: 600;
  --font-weight-black: 800;

  --font-size-normal: 1.8rem;
  --font-size-button: 1.6rem;
  --font-size-icon: 1.4rem;
  --font-size-sm: 1.2rem;
  --font-size-h6: 1.6rem;
  --font-size-h5: 1.6rem;
  --font-size-h4: 2.0rem;
  --font-size-h3: 2.4rem;
  --font-size-h2: 3.2rem;
  --font-size-h1: 4.8rem;

  --line-height-heading: 110%;
  --line-height-text: 170%;

  --touch-height: 44px;
  --border-radius: 12px;

  --gap-8: 8px;
  --gap-16: 16px;
  --gap-24: 24px;
  --gap-32: 32px;
  --gap-40: 40px;
  --gap-56: 56px;
  --gap-64: 64px;

  --home-section-spacing: 120px;
  --header-height: 76px;

  --screen-xs: 480px;
  --screen-sm: 768px;
  --screen-md: 1024px;
  --screen-lg: 1280px;
  --screen-xl: 1440px;

  --transition: all .2s ease-in-out;
  --drop-shadow-sm: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.35));
  --box-shadow-fancy: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  --box-shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 1024px){
  :root {
    --font-size-normal: 1.6rem;
    --font-size-h4: 1.6rem;
    --font-size-h3: 2.0rem;
    --font-size-h2: 2.8rem;
    --font-size-h1: 4.0rem;

    --home-section-spacing: 80px;
  }
}

@media screen and (max-width: 480px){
  :root {
    --font-size-normal: 1.6rem;
    --font-size-h4: 1.6rem;
    --font-size-h3: 1.8rem;
    --font-size-h2: 2.4rem;
    --font-size-h1: 3.2rem;

    --home-section-spacing: 60px;
  }
}

/* Mixins
=================================*/
/* Used to set font sizes in REMs
with a Pixel fallback Usage:
@include font-size(13) */
@mixin font-size($size:1.8){
  font-size:   ($size * 10) + px;
  font-size:   $size + rem;
}

/* Animations
=================================*/
.animate-spin {animation: rotateY-anim 10s linear infinite;}
.animate-float {animation: float 6s ease-in-out infinite;}
.animated-slideshow-h {animation: slideshow-h 40s linear infinite;}
.animated-slideshow-v {animation: slideshow-v 20s linear infinite;}
@keyframes rotateY-anim {
	0% {
		transform: rotateY(0deg);
	}
  33% {
		transform: rotateY(15deg);
	}
  66% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-15deg);
	}
}
@keyframes float {
	0% {
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.35));
		transform: translatey(0px);
	}
	50% {
    filter: drop-shadow(0px 28px 16px rgba(0, 0, 0, 0.15));
		transform: translatey(-10px);
	}
	100% {
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.35));
		transform: translatey(0px);
	}
}
@keyframes slideshow-h {
  100% { 
    transform: translateX(-50%);
  }
}
@keyframes slideshow-v {
  100% { 
    transform: translateY(-393px);
  }
}

/* Default
=================================*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: 'Biennale', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-text);
  color: var(--color-secondary);
  background-color: var(--color-grey);
  opacity: 0;
  transition: opacity 250ms;
}

/* Helpers
=================================*/
.unlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.block {
  display: block;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.rg-lg {
  row-gap: var(--gap-24);
}
.mw-0 {
  min-width: 0px;
}
.mb-64 {
  margin-bottom: var(--gap-64);
}
@media screen and (max-width: 1024px){
  .md-mb-0 {
    margin-bottom: 0;
  }
  .md-mb-40 {
    margin-bottom: var(--gap-40);
  }
}

/* General
=================================*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-black);
  color: var(--color-secondary);
}
h1, .h1 {font-size: var(--font-size-h1);}
h2, .h2 {font-size: var(--font-size-h2);}
h3, .h3 {font-size: var(--font-size-h3);}
h4, .h4 {font-size: var(--font-size-h4); font-weight: var(--font-weight-semibold);}
h5, .h5 {font-size: var(--font-size-h5); font-weight: var(--font-weight-semibold);}
h6, .h6 {font-size: var(--font-size-h6); font-weight: var(--font-weight-semibold);}
p, li {
  color: var(--color-secondary);
}
p a, li a {
  color: var(--color-secondary);
  transition: var(--transition);
}
  p a:hover, li a:hover {
    color: var(--color-accent);
  }
.buttons {
  display: flex;
  gap: var(--gap-24);
}
.button {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-8);
  min-height: var(--touch-height);
  padding: 0 var(--gap-16);
  font-family: var(--font-family-main);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  color: var(--color-lightest);
  background-color: var(--color-secondary);
  border: 0;
  transition: var(--transition);
  cursor: pointer;
}
  .button i {
    height: 14px;
    width: 14.5px;
    font-size: var(--font-size-icon);
  }
  .button:hover {
    background-color: var(--color-accent);
  }
  .button--secondary {
    background-color: var(--color-accent);
  }
    .button--secondary:hover {
      color: var(--color-secondary);
      background-color: var(--color-lightest);
    }
  .button--subtle {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    color: var(--color-secondary);
    background-color: transparent;
  }
    .button--subtle:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      height: 2px;
      width: 0;
      background-color: var(--color-accent);
      transition: var(--transition);
      pointer-events: none;
    }
    .button--subtle:hover {
      color: var(--color-accent);
      background-color: transparent;
      opacity: 1;
    }
    .button--subtle:hover:before {
      width: 16px;
    }
  .button--subtle-white {
    color: var(--color-lightest);
  }
  .button--subtle-large {
    font-size: var(--font-size-normal);
  }
  .button--subtle-large i {
    width: 15.75px;
    height: 18px;
    font-size: var(--font-size-normal);
  }
  .button--wire {
    color: var(--color-secondary);
    background: transparent;
    border: 1px solid var(--color-secondary);
  }
    .button--wire:hover {
      color: var(--color-lightest);
      background: var(--color-secondary);
    }
  .button--icon {
    font-size: var(--font-size-h4);
  }
strong {
  font-weight: var(--font-weight-black);
}
.sm {
  font-size: var(--font-size-sm);
}
.success-message {
  display: none;
}
.rte {
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
}
  .rte *:first-child {
    margin-top: 0;
  }
  .rte h1,
  .rte h2,
  .rte h3,
  .rte h4,
  .rte h5,
  .rte h6 {
    margin-top: var(--gap-16);
  }
  .rte ol {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
    margin-left: var(--gap-24);
    list-style-type:decimal;
  }
  .rte img {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
  }

.form__group {
  margin-bottom: var(--gap-24);
}
.form__label {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-semibold);
}
.form__input {
  display: block;
  width: 100%;
  height: var(--touch-height);
  padding: 0 var(--gap-16);
  font-family: var(--font-family-main);
  font-size: var(--font-size-button);
  line-height: var(--touch-height);
  background: transparent;
  border: 1px solid var(--color-secondary);
}
  .form__input::placeholder {
    color: #3d2d6861;
  }
  .form__input:focus-visible {
    outline-color: var(--color-accent);
  }
  .form__input--textarea {
    height: 120px;
    max-width: 100%;
    max-height: 360px;
    min-height: 120px;
  }
.image {
  display: block;
  width: 100%;
}
.image-caption {
  margin-top: 4px;
  font-size: var(--font-size-sm);
  font-style: italic;
}

/* Header
=================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: var(--gap-16);
  background-color: var(--color-secondary);
  transition: all .44s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
  .header--scrolled {
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  }
  .header__logo-image {
    display: block;
    height: var(--touch-height);
  }
    .header__logo-image path {
      transition: all .44s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    }
      .header__logo-image:hover path {
        fill: var(--color-lightest);
      }
  .header__nav {
    display: flex;
    justify-content: center;
    gap: var(--gap-24);
  }
    .header__nav-item {
      margin-bottom: 0;
    }
      .header__nav-item-link {
        color: var(--color-lightest);
      }
  .layout-home .header {
    background-color: var(--color-grey);
  }
    .layout-home .header__logo-image path {
      fill: var(--color-secondary);
      transition: var(--transition);
    }
      .layout-home .header__logo-image:hover path {
        fill: var(--color-accent);
      }
    .layout-home .header__nav-item-link {
      color: var(--color-secondary);
    }
      .layout-home .header__nav-item-link:hover {
        color: var(--color-accent);
      }
    .layout-home .header__nav-item-button {
      background-color: var(--color-secondary);
    }
      .layout-home .header__nav-item-button:hover {
        color: var(--color-lightest);
        background-color: var(--color-accent);
      }

/* Mobile
=================================*/
.mobile-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 44px;
  height: 44px;
  padding: 12px 0 12px 16px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.mm-active {
  overflow: hidden;
}
  .mobile-button span {
    height: 4px;
    background: var(--color-lightest);
    border-radius: 2px;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
    .mobile-button span:nth-of-type(1){
      width: 50%;
    }
    .mobile-button span:nth-of-type(2){
      width: 100%;
    }
    .mobile-button span:nth-of-type(3){
      width:75%;
    }
    .mm-active .mobile-button span:nth-of-type(1){
      transform-origin: bottom;
      transform: rotatez(-45deg) translate(-2px,0px)
    }
    .mm-active .mobile-button span:nth-of-type(2){
      transform-origin: top;
      transform: rotatez(45deg)
    }
    .mm-active .mobile-button span:nth-of-type(3){  
      transform-origin: bottom;
      width: 50%;
      transform: translate(-12px, -4px) rotatez(-45deg);
    }
  .layout-home .mobile-button span {
    background-color: var(--color-secondary);
  }


.mm-active .header {
  background-color: var(--color-secondary);
}
.mm-active .header__logo-image path {
  fill: var(--color-accent);
}
.mm-active .mobile-button span {
  background-color: var(--color-accent);
}

$header-height: 76px;
.mobile-menu {
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  max-height: calc(var(--doc-height) - $header-height);
  padding: 20% 0;
  background-color: var(--color-secondary);
  opacity: 0;
  visibility: hidden;
  transition: all .44s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
  .mm-active .mobile-menu {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu__link {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
    color: var(--color-lightest);
    text-decoration: none;
    
  }

/* Content
=================================*/
.content {
  margin-top: var(--header-height);
}
.content-section {
  width: 100%;
  padding-top: var(--home-section-spacing);
  padding-bottom: var(--home-section-spacing);

  @media screen and (max-width: 1024px){
    padding-top: var(--gap-40);
    padding-bottom: var(--gap-40);
  }
}
  .content-section--border {
    border-bottom: 1px solid #ccc;
  }
  .content-section--no-top {
    padding-top: 0;
  }
  .content-section__sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--gap-32);
    width: 400px;

    @media screen and (min-width: 1024px){
      position: sticky;
      top: calc(var(--header-height) + var(--gap-24));
    }
  
    @media screen and (max-width: 1024px){
      width: 100%;
      margin-bottom: var(--gap-40);
    }
  }
    .content-section__sidebar-top {
      display: flex;
      flex-direction: column;
      gap: var(--gap-16);
    }
    .content-section__sidebar-buttons {
      @media screen and (max-width: 480px){
        width: 100%;
      }
    }
    .content-section__sidebar-line {
      margin-top: var(--gap-32);

      @media screen and (max-width: 1024px){
        margin-top: 0;
      }
    }

  .content-section__text p, .content-section__text li {
    margin-bottom: var(--gap-24);
  }
  .content-section__block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
    margin-bottom: var(--gap-32);
  }
  .content-section__profile {
    display: flex;
    gap: var(--gap-32);
    margin-top: var(--gap-64);
    padding: var(--gap-32);
    background-color: var(--color-lightest);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-xl);

    @media screen and (max-width: 1024px){
      margin-top: var(--gap-40);
    }

    @media screen and (max-width: 480px){
      flex-direction: column;
      gap: var(--gap-24);
    }
  }
    .content-section__profile-words {
      display: flex;
      flex-direction: column;
      gap: var(--gap-16);
    }
    .content-section__profile-words-heading {
      margin-bottom: 4px;
    }
    .content-section__profile-words-subtitle {
      font-size: 12px;
      line-height: var(--line-height-heading);
    }
.line {
  width: 32px;
  height: 4px;
  background-color: var(--color-secondary);
}

/* Home
=================================*/
.home-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Home: Hero
=================================*/
.hero-wrapper {
  position: relative;
  background-color: var(--color-secondary);
  overflow: hidden;
}
  .hero {
    position: relative;
    z-index: 2;
    padding-top: 80px;
    padding-bottom: 80px;
  }
    .hero__content {
      display: flex;
      flex-direction: column;
      gap: var(--gap-24);
    }
      .hero__content-words {
        display: flex;
        flex-direction: column;
        gap: var(--gap-16);
      }
      .hero__content-heading {
        color: var(--color-accent);
      }
      .hero__content-text p {
        color: var(--color-lightest);
      }
    .hero__logo-image {
      margin: 0 auto;
      filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.2));
    }
  .hero-background-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1011px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
    .hero-background-slideshow-images {
      position: absolute;
      left: 0;
      top: 0;
      width: 1011px;
      height: 1572px;
      background-image: url('/assets/images/background-pattern_pixels.png');
      background-size: 100%;
      transform: translate3d(0, 0, 0);
    }

/* Home: Clients
=================================*/
.home-client-wrapper {
  width: 100%;
  padding: var(--gap-64) 0;
  background-color: var(--color-secondary);

  @media screen and (max-width: 768px){
    padding: var(--gap-40) 0;
  }
  @media screen and (max-width: 480px){
    padding: var(--gap-24) 0;
  }
}
  .home-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
    .home-clients__slideshow {
      position: relative;
      width: 100%;
      height: 126px;
      margin: 0 auto;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
    } 
      .home-clients__slideshow:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 115px;
        height: 126px;
        background: linear-gradient(90deg, #3D2D68 0%, rgba(61, 45, 104, 0) 100%);
        pointer-events: none;
      }
      .home-clients__slideshow:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 115px;
        height: 126px;
        background: linear-gradient(90deg, rgba(61, 45, 104, 0) 0%, #3D2D68 100%);
        pointer-events: none;
      }
      .home-clients__slideshow-images {
        position: absolute;
        left: 0;
        top: 0;
        //width, height and background-image set on the actual div
        background-size: 100%;
        transform: translate3d(0, 0, 0);
      }

/* Home: Value Propositions
=================================*/
.home-value-props__illustration {
  display: flex;
  justify-content: center;
}
.home-value-props__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
}

/* Portfolio
=================================*/
.portfolio__items {
  display: flex;
  flex-direction: column;
  gap: var(--gap-40);

  @media screen and (max-width: 768px){
    gap: var(--gap-56);
  }
}
.portfolio__item {
  display: flex;
  align-items: center;
  gap: var(--gap-32);

  @media screen and (max-width: 768px){
    align-items: flex-start;
    flex-direction: column;
  }
}
  .portfolio__item-content {
    gap: var(--gap-16);
  }
    .portfolio__item-content-services {
      font-size: var(--font-size-button);
      line-height: 140%;
      font-style: italic;
    }
  .portfolio__item-screenshot {
    flex-shrink: 0;
    display: block;
    width: 320px;
    aspect-ratio: 1.28/1;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-xl);
    overflow: hidden;

    @media screen and (max-width: 768px){
      width: 100%;
    }
  }
    .portfolio__item-screenshot--logo {
      display: flex;
      align-items: center;
      padding: var(--gap-32);
      background-color: var(--color-lightest);
    }
      .portfolio__item-screenshot--logo .portfolio__item-screenshot-image {
        max-height: 75%;
      }
    .portfolio__item-screenshot-image {
      display: block;
      width: 100%;
      max-height: 100%;
    }

/* Services
=================================*/
.service {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
.service__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  background-color: var(--color-lightest);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-xl);
}
.service__icon {
  width: 48px;
  height: 48px;
}
.service .service__heading {
  margin-top: 0;
}

/* Free Quote
=================================*/
.free-quote__wrapper {
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* Blog
=================================*/
.article-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
  .article-block__top {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
  }
  .article-block__top:hover .article-block__image {
    transform: scale(1.1);
  }
  .article-block__top:hover .article-block__content-title-link {
    color: var(--color-accent);
  }
  .article-block__image-wrapper {
    position: relative;
    display: block;
    padding-bottom: 56%;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
    .article-block__image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all .6s ease-in-out;
      transform-origin: center;
    }
  .article-block__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-16);
  }
    .article-block__content-bottom {
      display: flex;
      gap: var(--gap-8);
      flex-wrap: wrap;
    }
    .article-block__content-title {
      text-decoration: none;
    }
      .article-block__content-title-link {
        transition: var(--transition);
      }
    .article-block__content-author span {
      font-weight: var(--font-weight-black);
    }

/* Article
=================================*/
.article {
  padding-top: var(--gap-64);

  @media screen and (max-width: 1280px){
    padding-top: var(--gap-24);
  }
  @media screen and (max-width: 1024px){
    padding-top: 0;
  }
}
  .article__banner {
    margin-bottom: var(--gap-64);

    @media screen and (max-width: 1024px){
      margin-right: -24px;
      margin-left: -24px;
    }
    @media screen and (max-width: 480px){
      margin-right: -16px;
      margin-left: -16px;
    }
  }
    .article__banner-image {
      display: block;
      width: 100%;
      border-radius: var(--border-radius);

      @media screen and (max-width: 1024px){
        border-radius: 0;
      }
    }
  .article__author {
    display: flex;
    align-items: center;
    gap: var(--gap-24);
  }
    .article__author-content-by span {
      font-size: var(--font-size-h3);
      font-weight: var(--font-weight-black);
    }

/* CTA
=================================*/
.cta-wrapper {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--color-accent);
  box-shadow: var(--box-shadow-xl);
}
  .cta {
    width: 100%;
    padding: var(--gap-24) var(--gap-32);
    background-image: url('/assets/images/background-pattern_cta.png');
    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (max-width: 768px){
      background-repeat: repeat;
    }
  }
    .cta__content {
      display: flex;
      flex-direction: column;
      gap: 4px;

      @media screen and (max-width: 768px){
        margin-bottom: var(--gap-24);
      }
    }
      .cta__content-heading {
        color: var(--color-lightest);

        @media screen and (max-width: 480px){
          font-size: 2.0rem;
        }
      }
      .cta__content-subheading {
        color: var(--color-secondary);

        @media screen and (max-width: 480px){
          font-size: 2.0rem;
        }
      }

/* Footer
=================================*/
.footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
  padding: var(--gap-40) 0 var(--gap-8);
  background-color: var(--color-secondary);
}
  .footer__section {
    display: flex;
    justify-content: center;
  }
  .footer__logo {
    margin-bottom: var(--gap-16);
  }
    .footer__logo-image {
      display: block;
      width: 80px;
      height: 80px;
    }
      .footer__logo-image path {
        transition: all .44s cubic-bezier(0.17, 0.04, 0.03, 0.94);
      }
        .footer__logo-image:hover path {
          fill: var(--color-lightest);
        }
  .footer__nav {
    display: flex;
    gap: var(--gap-24);

    @media screen and (max-width: 480px){
      flex-direction: column;
      gap: 0;
    }
  }
    .footer__nav-item-link {
      color: var(--color-lightest);
    }
.copyright {
  padding-top: var(--gap-24);
  text-align: center;
  color: var(--color-lightest);
  background-color: var(--color-secondary);
}