---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "reset";
@import "grid";
@import "fonts";

/* Variables
=================================*/
:root {
  --color-accent: #00BAB3;
  --color-secondary: #3D2D68;
  --color-secondary-dark: #312554;
  --color-lightest: #fff;
  --color-text: var(--color-lightest);

  --font-family-main: 'Biennale';
  --font-weight-normal: normal;
  --font-weight-semibold: 600;
  --font-weight-black: 800;

  --font-size-normal: 1.6rem;
  --font-size-button: 1.6rem;
  --font-size-icon: 1.4rem;
  --font-size-h6: 1.6rem;
  --font-size-h5: 1.6rem;
  --font-size-h4: 2.0rem;
  --font-size-h3: 2.4rem;
  --font-size-h2: 3.2rem;
  --font-size-h1: 4.8rem;

  --line-height-heading: 110%;
  --line-height-text: 170%;

  --touch-height: 44px;
  --border-radius: 4px;

  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 32px;
  --gap-xxl: 40px;

  --home-section-spacing: 120px;

  --screen-xs: 480px;
  --screen-sm: 768px;
  --screen-md: 1024px;
  --screen-lg: 1280px;
  --screen-xl: 1440px;

  --transition: all .2s ease-in-out;
  --drop-shadow-sm: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.35));
}

@media screen and (max-width: 768px){
  :root {
    --font-size-normal: 1.6rem;
    --font-size-button: 1.2rem;
    --font-size-h6: 1.2rem;
    --font-size-h5: 1.6rem;
    --font-size-h4: 2.0rem;
    --font-size-h3: 2.8rem;
    --font-size-h2: 3.6rem;
    --font-size-h1: 4.4rem;

    --home-section-spacing: 80px;
  }
}

/* Mixins
=================================*/
/* Used to set font sizes in REMs
with a Pixel fallback Usage:
@include font-size(13) */
@mixin font-size($size:1.8){
  font-size:   ($size * 10) + px;
  font-size:   $size + rem;
}

/* Animations
=================================*/
.animate-spin {animation: rotateY-anim 10s linear infinite;}
.animate-float {animation: float 6s ease-in-out infinite;}
.animated-slideshow {animation: slideshow 40s linear infinite;}
@keyframes rotateY-anim {
	0% {
		transform: rotateY(0deg);
	}
  33% {
		transform: rotateY(15deg);
	}
  66% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-15deg);
	}
}
@keyframes float {
	0% {
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.35));
		transform: translatey(0px);
	}
	50% {
    filter: drop-shadow(0px 28px 16px rgba(0, 0, 0, 0.15));
		transform: translatey(-10px);
	}
	100% {
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.35));
		transform: translatey(0px);
	}
}
@keyframes slideshow {
  100% { 
    transform: translateX(-50%);  
  }
}

/* Default
=================================*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: 'Biennale', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-text);
  color: var(--color-text);
  background-color: var(--color-secondary);
}

/* Helpers
=================================*/
.unlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.block {
  display: block;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.rg-lg {
  row-gap: var(--gap-lg);
} 

/* General
=================================*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-black);
  color: var(--color-accent);
}
h1, .h1 {font-size: var(--font-size-h1);}
h2, .h2 {font-size: var(--font-size-h2);}
h3, .h3 {font-size: var(--font-size-h3);}
h4, .h4 {font-size: var(--font-size-h4); font-weight: var(--font-weight-semibold);}
h5, .h5 {font-size: var(--font-size-h5); font-weight: var(--font-weight-semibold);}
h6, .h6 {font-size: var(--font-size-h6); font-weight: var(--font-weight-semibold);}
.buttons {
  display: flex;
  gap: var(--gap-lg);
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
  min-height: var(--touch-height);
  padding: 0 var(--gap-md);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  color: var(--color-text);
  background-color: var(--color-accent);
  transition: var(--transition);
}
  .button i {
    font-size: var(--font-size-icon);
  }
  .button:hover {
    opacity: 0.75;
  }
  .button--secondary {
    background-color: var(--color-secondary);
  }
  .button--subtle {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
  }
    .button--subtle:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 1;
      height: 4px;
      width: 0;
      background-color: var(--color-accent);
      transform: translate(-50%, 0);
      transition: var(--transition);
    }
    .button--subtle:hover {
      color: var(--color-accent);
      opacity: 1;
    }
    .button--subtle:hover:before {
      width: 16px;
    }
  .button--icon {
    font-size: var(--font-size-h4);
  }
strong {
  font-weight: var(--font-weight-black);
}
.sm {
  font-size: var(--font-size-button);
}
.success-message {
  display: none;
}

/* Header
=================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: var(--gap-md) 0;
  transition: var(--transition);
}
  .header--scrolled {
    padding: var(--gap-md) 0;
    background-color: var(--color-secondary);
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.2));
  }
  .header__logo-image {
    height: var(--touch-height);
  }
  .header__nav {
    display: flex;
    justify-content: center;
    gap: var(--gap-lg);
  }

/* Home
=================================*/
.home-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--home-section-spacing);
  padding-top: var(--home-section-spacing);
  padding-bottom: var(--home-section-spacing);
}
.home-section {
  width: 100%;
}

/* Home: Hero
=================================*/
.hero-wrapper {
  background-image: url('/assets/images/background-pattern.svg');
  background-repeat: no-repeat;
  background-size: var(--screen-xl);
  background-position: bottom;
}
  .hero {
    padding-top: 160px;
    padding-bottom: 80px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

    @media screen and (max-width: 768px){
      padding-top: 140px;
      padding-bottom: 60px;
    }
  }
    .hero__content {
      display: flex;
      flex-direction: column;
      gap: var(--gap-lg);
    }
      .hero__content-words {
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);
      }
    .hero__logo-image {
      margin: 0 auto;
      filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.2));
    }

/* Home: Clients
=================================*/
.home-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
  .home-clients__slideshow {
    position: relative;
    width: 100%;
    height: 126px;
    margin: 0 auto;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
    .home-clients__slideshow:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      width: 115px;
      height: 126px;
      background: linear-gradient(90deg, #3D2D68 0%, rgba(61, 45, 104, 0) 100%);
      pointer-events: none;
    }
    .home-clients__slideshow:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: block;
      width: 115px;
      height: 126px;
      background: linear-gradient(90deg, rgba(61, 45, 104, 0) 0%, #3D2D68 100%);
      pointer-events: none;
    }
    .home-clients__slideshow-images {
      position: absolute;
      left: 0;
      top: 0;
      //width, height and background-image set on the actual div
      background-size: 100%;
      transform: translate3d(0, 0, 0);
    }

/* Home: Value Propositions
=================================*/
.home-value-props__illustration {
  display: flex;
  justify-content: center;
}
.home-value-props__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

/* Home: CTA
=================================*/
.home-cta-wrapper {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
}
  .home-cta {
    width: 100%;
    padding: var(--gap-xl);
    background-image: url('/assets/images/background-pattern_cta.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
    .home-cta__content {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
      .home-cta__content-heading {
        color: var(--color-lightest);
      }
      .home-cta__content-subheading {
        color: var(--color-secondary);
      }

/* Footer
=================================*/
.footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
  padding: var(--gap-xxl) 0;
  background-color: var(--color-secondary-dark);
}
  .footer__grid {
    gap: 80px;
  }
  .footer__column-heading {
    margin-bottom: var(--gap-sm);
  } 
    .footer__column-list {
      display: flex;
      flex-direction: column;
    }
      .footer__column-list-item {
        display: flex;
        gap: var(--gap-md);
      }
        .footer__column-list-item-text {
          line-height: var(--touch-height);
        }