---
layout: default
---
<div class="content-section article">
  <div class="container">
    <div class="article__banner">
      <img class="article__banner-image" src="{{ page.banner.url }}" alt="{{ page.banner.alt }}" />
    </div>
    <div class="grid grid-gap64">
      <div class="col-hug_md-12 col-gap64">
        {%- capture extras -%}
          <div class="article__author">
            <img class="article__author-image" src="{{ site.data.global.profile.image.url }}" width="{{ site.data.global.profile.image.width }}" height="{{ site.data.global.profile.image.height }}" alt="{{ site.data.global.profile.name }}" />
            <div class="article__author-content">
              <p class="article__author-content-by">By <span>{{ page.author }}</span></p>
              <p>{{ page.date | date: '%B %e, %Y' }}</p>
            </div>
          </div>
        {%- endcapture -%}
        {%- include sidebar.html
          class="content-section__sidebar--article"
          title=page.title
          extras_above=extras
        -%}
      </div>
      <div class="col col_md-12 col-gap64 rte mw-0">
        {{ content }}
      </div>

    </div>
  </div>
</div>
{% include cta.html %}