<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="template-{{ page.layout | downcase | escape }}">
    <div class="wrapper">
      <div class="container">

        <div class="grid">
          <div class="col-2_sm-12">
            {% include sidebar.html %}
          </div>
          <div class="col-9_sm-12" data-push-left="off-1_sm-0">
            {{ content }}
            {% include footer.html %}
          </div>
        </div>

      </div>
    </div>
  </body>

</html>
