---
layout: default
---
<div class="home__section home__banner" id="home">
  <div class="home__banner-inner">
    <div class="grid-middle">

      <div class="col-8_sm-12">
        <h2 class="home__title">Need a website?<br />We’ve got you covered.</h2>
        <p class="home__text">We build websites that are both beautiful and functional. Let’s chat about how we can make a website that meets the needs of both you, and your users.</p>
        <div class="home__banner-buttons">
          <a class="button" href="#contact">Get in touch <i class="fa fa-arrow-right"></i></a>
          <a class="button button--outline" href="#work">Our Work <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-4 sm-hide">
        <img class="home__banner-img" src="{{ "/assets/images/logo-tree.svg" | relative_url }}" />
      </div>

    </div>
  </div>
</div>

<div class="home__section" id="work">
  <h2 class="home__title">Our Work</h2>
  <div class="project">
    <div class="project__top">
      <div class="grid-noGutter-middle">
        <div class="col-4_sm-12">
          <h3 class="project__title">Manitoba <br />Passion Play</h3>
        </div>
        <div class="col-4_sm-10">
          <p class="project__label">Services:</p>
          <p class="project__services">Logo, Web Design, Code</p>
        </div>
        <div class="col-4_sm-2 text-right">
          <a class="project__link" href="http://passionplay.ca" target="_blank"><i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
    </div>
    <div class="project__content">
      <div class="grid-noGutter-middle">
        <div class="col-6_sm-12">
          <img class="home__banner-logo" src="{{ "/assets/images/manitoba-passion-play-logo-color.png" | relative_url }}" />
        </div>
        <div class="col-6_sm-12">
          <img class="home__banner-site" src="{{ "/assets/images/work-manitoba-passion-play.png" | relative_url }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project__top">
      <div class="grid-noGutter-middle">
        <div class="col-4_sm-12">
          <h3 class="project__title">Gil's Office <br />Furniture</h3>
        </div>
        <div class="col-4_sm-10">
          <p class="project__label">Services:</p>
          <p class="project__services">Logo, Web Design, Code</p>
        </div>
        <div class="col-4_sm-2 text-right">
          <a class="project__link" href="http://gilsofficefurniture.com" target="_blank"><i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
    </div>
    <div class="project__content">
      <div class="grid-noGutter-middle">
        <div class="col-6_sm-12">
          <img class="home__banner-logo" src="{{ "/assets/images/gils-office-furniture-logo-color.png" | relative_url }}" />
        </div>
        <div class="col-6_sm-12">
          <img class="home__banner-site" src="{{ "/assets/images/work-gils-office-furniture.png" | relative_url }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project__top">
      <div class="grid-noGutter-middle">
        <div class="col-4_sm-12">
          <h3 class="project__title">Baltic <br />Athletics</h3>
        </div>
        <div class="col-4_sm-10">
          <p class="project__label">Services:</p>
          <p class="project__services">Logo, Web Design, Code</p>
        </div>
        <div class="col-4_sm-2 text-right">
          <a class="project__link" href="http://balticathletics.com" target="_blank"><i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
    </div>
    <div class="project__content">
      <div class="grid-noGutter-middle">
        <div class="col-6_sm-12">
          <img class="home__banner-logo" src="{{ "/assets/images/baltic-athletics-logo-color.png" | relative_url }}" />
        </div>
        <div class="col-6_sm-12">
          <img class="home__banner-site" src="{{ "/assets/images/work-baltic-athletics.png" | relative_url }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project__top">
      <div class="grid-noGutter-middle">
        <div class="col-4_sm-12">
          <h3 class="project__title">Niverville <br />Citizen</h3>
        </div>
        <div class="col-4_sm-10">
          <p class="project__label">Services:</p>
          <p class="project__services">Web Design, Code</p>
        </div>
        <div class="col-4_sm-2 text-right">
          <a class="project__link" href="http://nivervillecitizen.com" target="_blank"><i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
    </div>
    <div class="project__content">
      <div class="grid-noGutter-middle">
        <div class="col-6_sm-12">
          <img class="home__banner-logo" src="{{ "/assets/images/niverville-citizen-logo-color.png" | relative_url }}" />
        </div>
        <div class="col-6_sm-12">
          <img class="home__banner-site" src="{{ "/assets/images/work-niverville-citizen.png" | relative_url }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project__top">
      <div class="grid-noGutter-middle">
        <div class="col-4_sm-12">
          <h3 class="project__title">Niverville Chamber<br /> of Commerce</h3>
        </div>
        <div class="col-4_sm-10">
          <p class="project__label">Services:</p>
          <p class="project__services">Web Design, Code</p>
        </div>
        <div class="col-4_sm-2 text-right">
          <a class="project__link" href="http://niverville.com" target="_blank"><i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
    </div>
    <div class="project__content">
      <div class="grid-noGutter-middle">
        <div class="col-6_sm-12">
          <img class="home__banner-logo" src="{{ "/assets/images/niverville-chamber-logo-color.png" | relative_url }}" />
        </div>
        <div class="col-6_sm-12">
          <img class="home__banner-site" src="{{ "/assets/images/work-niverville-chamber.png" | relative_url }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project__top">
      <div class="grid-noGutter-middle">
        <div class="col-4_sm-12">
          <h3 class="project__title">Nikka <br />Photography</h3>
        </div>
        <div class="col-4_sm-10">
          <p class="project__label">Services:</p>
          <p class="project__services">Logo, Web Design, Code</p>
        </div>
        <div class="col-4_sm-2 text-right">
          <a class="project__link" href="https://nikkaphotography.ca/" target="_blank"><i class="fa fa-external-link-alt"></i></a>
        </div>
      </div>
    </div>
    <div class="project__content">
      <div class="grid-noGutter-middle">
        <div class="col-6_sm-12">
          <img class="home__banner-logo" src="{{ "/assets/images/nikka-photography-logo-color.png" | relative_url }}" />
        </div>
        <div class="col-6_sm-12">
          <img class="home__banner-site" src="{{ "/assets/images/work-nikka-photography.png" | relative_url }}" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home__section" id="about">
  <h2 class="home__title">About</h2>
  <p>We are a husband and wife team based out of Ile-des-Chênes, Manitoba. We're passion is design, and with a combined 8+ years experience with web and graphics, you can be reasured that your needs will be met and exceeded.</p>
  <p>Interested in a quote? Send us an email and we can chat about the best solutions for you.</p>
  <div class="home__banner-buttons">
    <a class="button button--outline" href="#contact">Get in touch <i class="fa fa-arrow-right"></i></a>
  </div>
</div>

<div class="home__section" id="contact">
  <h2 class="home__title">Contact</h2>
  <p>Looking for a quote? Have any questions? Send us a message!</p>
  <a class="button button--large" href="mailto:info@oakislanddesigns.com">info@oakislanddesigns.com <i class="fa fa-paper-plane"></i></a>
</div>