---
layout: default
---
<div class="home__banner">
  <div class="home__banner-inner">
    <div class="grid-middle">

      <div class="col-8">
        <h2 class="home__banner-title">Need a website?<br />We’ve got you covered.</h2>
        <p class="home__banner-text">We build websites that are both beautiful and functional. Let’s chat about how we can make a website that meets the needs of both you, and your users.</p>
        <div class="home__banner-buttons">
          <a class="button" href="/">Get in touch <i class="fa fa-arrow-right"></i></a>
          <a class="button button--outline" href="/">Our Work <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-4">
        <img class="home__banner-img" src="{{ "/assets/images/logo-tree.svg" | relative_url }}" />
      </div>

    </div>
  </div>
</div>

<p>Lorem Ipsum
    "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget volutpat arcu. Phasellus eget ante finibus, interdum libero aliquet, eleifend justo. Aenean vel rhoncus nisi. Nullam luctus laoreet est, nec commodo purus sagittis id. Mauris id egestas elit. Praesent vestibulum tincidunt nibh ac maximus. Donec convallis aliquam arcu, sit amet semper arcu consequat a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent dapibus ultricies nibh ut ultrices. Sed scelerisque sapien eget velit tempor posuere. Phasellus quis metus vitae felis placerat pretium vel ac metus. Nullam fermentum, mi quis efficitur ornare, urna mi mattis quam, vitae blandit lectus est commodo nulla.</p>
    
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc eu velit faucibus, placerat leo sit amet, lacinia massa. Nulla ut aliquet orci. Suspendisse id massa ut tellus fermentum gravida id et ante. Morbi id euismod dui, at rutrum quam. Quisque blandit eros et ante imperdiet, at aliquam nunc aliquet. Cras aliquam massa vitae arcu convallis, in aliquet nunc sollicitudin. Praesent et ante non ligula dignissim commodo. Sed suscipit a dui sed pulvinar. Etiam placerat scelerisque neque a convallis. Etiam at nisi eu arcu dapibus euismod.</p>
    
    <p>Suspendisse rhoncus eros sem, ac condimentum lorem hendrerit ut. In feugiat risus nisi, sed porta libero blandit blandit. Nullam dictum magna nec ante porta ornare. Vestibulum malesuada est ac consectetur sodales. Quisque nunc diam, pretium at enim eget, placerat vehicula est. Phasellus imperdiet feugiat commodo. Aenean et interdum ex, quis imperdiet dui. Morbi at dictum erat.</p>
    
    <p>Phasellus odio dui, scelerisque in justo eget, vestibulum placerat leo. Nam nulla neque, porttitor scelerisque euismod ut, faucibus id turpis. Vivamus tempor lectus erat. Vivamus fermentum purus id lacus porta luctus. Fusce rutrum, leo et ullamcorper blandit, dui diam sollicitudin sapien, eget finibus lectus tellus ac erat. Ut id libero nulla. Mauris faucibus est in metus congue consequat. Vivamus efficitur nulla ultrices felis venenatis finibus. Cras vitae sapien ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer dapibus scelerisque aliquet. Cras faucibus nec eros quis porttitor. Suspendisse dapibus mauris vitae dignissim luctus. Praesent feugiat lobortis justo ac bibendum. Etiam finibus pharetra est, quis suscipit urna laoreet eu.</p>
    
    <p>Vestibulum eu aliquet orci. Fusce ornare erat vestibulum justo mollis, eleifend blandit est condimentum. Integer tempus, turpis in tincidunt blandit, nisi dui vestibulum diam, vel euismod tellus dui vitae dolor. Phasellus ligula justo, dictum vel elit in, tincidunt bibendum nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacus ac risus pulvinar facilisis vitae vitae nisl. Nulla facilisi. Sed vitae turpis non felis pharetra porttitor. Cras quis lacus ut diam maximus dictum ac sed turpis. Mauris sit amet iaculis tellus. Donec in varius diam. Ut maximus, sem id pretium efficitur, felis mi maximus eros, ut rhoncus turpis turpis ultrices felis. Ut mattis vitae tellus vitae congue. Integer venenatis dapibus turpis, ac lacinia diam maximus sit amet. Integer pharetra gravida dolor, quis sodales quam gravida sit amet.</p>
