---
layout: page
---
<div class="col-hug_md-12 col-gap64">
  {%- include sidebar.html
    title=page.title
    subtitle=page.subtitle
    button_title=page.button.title
    button_link=page.button.link
    button_icon=page.button.icon
  -%}
</div>
<div class="col col_md-12 col-gap64 mw-0">
  <div class="portfolio__items">
    {%- for item in page.portfolio -%}
      <div class="portfolio__item">
        <div class="portfolio__item-screenshot portfolio__item-screenshot--{{ item.type }}">
          <img class="portfolio__item-screenshot-image" src="{{ item.image.url }}" alt="{{ item.title | append: site.alt_title }}" />
        </div>
        <div class="flex-column portfolio__item-content">
          <h3>{{ item.title }}</h3>
          <p class="portfolio__item-content-services">{{ item.services }}</p>
          {%- if item.button or item.link -%}
          <div class="buttons">
            {%- comment -%}{%- if item.button and item.button != blank -%}
              <a class="button button--wire" href="{{ item.button.link }}" title="{{ item.button.title }}{{ site.title | prepend: ' | ' }}">
                {{ item.button.title }}{%- if item.button.icon != blank -%}<i class="fa-sharp fa-solid fa-{{ item.button.icon }}"></i>{%- endif -%}
              </a>
            {%- endif -%}{%- endcomment -%}
            {%- if item.link and item.link != blank -%}
              <a class="button button--wire" href="{{ item.link.link }}" target="_blank" title="{{ item.link.title | append: ' | ' | append: site.title }}">
                {%- if item.link.icon != blank -%}<i class="fa-sharp fa-solid fa-{{ item.link.icon }}"></i>{%- endif -%}{{ item.link.title }}
              </a>
            {%- endif -%}
          </div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>